@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{ 
    font-family: Source Sans Pro;
    body-background: #eee;
    padding:1% ;
}
nav {
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0;
}
ul {
  
    color: #777;
    list-style-type: none;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
  
}
li {
    display: inline-block;
    padding: 1.5%;
   
}
a {
    color: rgb(163, 161, 161);
    text-decoration: none;
}
h1 {
    font-family: Abril Fatface;
    text-align: center;
    font-size: 60px;
}
main {
        border-bottom: 1px solid #eee;
        color:#777;
        padding: 1%
    }
main > img {
        width: 100%;
    }
h2{
    font-family: Roboto Slab;
    color: black;
    font-size: 40px;
} 
.more-articles {
    display: flex;
}
section {
    padding: 10px;
}
section > img {
    width: 100%;
}
p {
    color:#777
}
.date {
    color:#777;

}
h4 {
    font-family: Roboto Slab;
}
h5 {
    color: red;
    font-family: Abril Fatface
    font-size: 40px
}
